body{
  font-family: helvetical;
  font-size: 30px;
}
*{
  margin:0;
  padding:0;
}
.container{
  max-width:1340px;
  margin:0 auto;
  padding:0 15px;
}
section{
  padding-top:20px;
}
.app-wrapper{
  background-color:#a5a3a3;
}