.Dialogs-wrapper{
  width:70%;
  .wrapper-messages{
    @include flexbox();
  }
  .Dialogs-people{
    width:40%;
    a{
      text-decoration: none;
      color:black;
    }
    .Dialogs-people-name{
      padding:5px 0px 5px 5px;
      width:50%;
    }
    .Dialog-active{
      background-color: aliceblue;
    }
  }
  .Dialogs-messages{
    width:60%;
  }
  .Send-messages{
    padding-top:15px;
    @include flexbox();
    align-items:center;
  }
}